[submodule "external/IOC_GaiaLib"]
	path = external/IOC_GaiaLib
	url = https://github.com/manvalan/IOC_GaiaLib.git
[submodule "external/ITALOccultLibrary"]
	path = external/ITALOccultLibrary
	url = https://github.com/manvalan/ITALOccultLibrary.git
[submodule "external/IOC_Config"]
	path = external/IOC_Config
	url = https://github.com/manvalan/IOC_Config.git
